.title {
  display: grid;
  justify-content: center;
}

.title p {
  display: grid;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

img {
  width: 200px;
}

.container > div {
  border: 1px solid black;
}

.box1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
